* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("image/cat.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

input,
button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    border: 3px solid blueviolet;
    border-radius: 10px;
    padding: 4px;
    background-color: #fff;
}

input:focus {
    border-color: aquamarine;
}

button {
    padding: 4px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    background-color: bisque;
}

button:hover {
    background-color: burlywood;
}

#Contactform {
    padding: 5px;
    margin: 10px;
    border: 3px solid plum;
    border-radius: 10px;
    max-width: 400px;
    background-color: lightblue;
}

.error {
    border: 3px solid red;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: lightcoral;
}

.media {
    padding: 4px;
    border: 2px solid blue;
    background-color: cornflowerblue;
    max-width: 730px;
    max-height: 420px;
}